# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

**Please note: you will not be able to use Rivanna for this lab as Rivanna is not set up to work with Docker or with Databases. If you need help getting your local system running, please let me know.**

### Problem 0 [No points, no need to write anything here for any of the following parts, but do it anyway!]
Databases require a lot of external software. The good news is that there are excellent free and open source options to do very advanced work with databases. The bad news is that each piece of additional software comes with its own complications. This problem will guide you through the installation steps for the software you need to run database systems on your computer, document those databases, and connect to them through Python with (fingers crossed) as few problems as possible.

#### Part a
Use `pip` to install the following Python packages on your system:
```
mysql-connector-python
psycopg
pymongo
sqlalchemy
wget
```

#### Part b
With the exception of SQlite, database systems run as external software that must be installed and run on your computer. To make the installation steps easier, you will need some configuration files that I wrote and saved in a GitHub repository. Open your terminal and use the `cd` command to navigate to the folder in your computer where you want to work. Then type
```
git clone https://github.com/jkropko/ds6001databases
```
If this command works, it will create a new directory within your current folder called "ds6001databases".

* Check that this folder exists and contains the following files: LICENSE, README.md, compose.yaml, db_tests.ipynb, and requirements.txt
* Save the notebook file you will be using for your Lab 6 work inside the "ds6001databases" folder

#### Part c
We will be using a system called Docker to work with databases. Docker is the most commonly used platform for working with **containers**. While we will not be delving into the topic of containerization in this course, a container is space in your computer's memory that is set apart from the rest of your computer. We can act as if the container is an entirely new computer, and inside the container we can change the operating system and install other software external to Python, such as database management systems. We can use a container to run Windows on a Mac, or vice versa, or Linux on any system. By far the easiest way to run MySQL, PostgreSQL, and MongoDB is through Docker containers. 

You will need to install Docker Desktop on your computer. Go to https://www.docker.com/products/docker-desktop/ and click on the Download button, making sure the operating system listed matches the operating system of your computer.

Once Docker Desktop is installed, find the Docker Desktop program on your computer and run it.

To confirm that Docker Desktop is running, open a terminal and type `docker help`. If you see documentation that begins
```
Usage:  docker [OPTIONS] COMMAND

A self-sufficient runtime for containers
```
then you are all set. If you see an error that Docker is not found, then the Docker Desktop client was not installed properly, so you should try downloading and installing it from the website again. If you receive a message that the Docker daemon is not running, then Docker is installed but is not running. Find the Docker Desktop executable on your computer and click it to get Docker running.

#### Part d
Inside your "ds6001databases" folder, create a .env file. On a Mac, type `touch .env` then `open .env` to create and open the file. On Windows, open a new file on Notepad and go to "Save As", then save it in your "ds6001databases" folder -- make sure to set "File As Type" to "All files" and name the file ".env".

Inside the .env file you need to choose passwords for the MySQL, PostgreSQL, and MongoDB databases, so type
```
MYSQL_ROOT_PASSWORD=redlobstercheddarbiscuits
POSTGRES_PASSWORD=outbackbloominonion
MONGO_INITDB_ROOT_PASSWORD=olivegardenunlimitedbreadsticks
MONGO_INITDB_ROOT_USERNAME=mongo
mongo_init_db = mongodb
MYSQL_DATABASE=mysql
```
Change the passwords on the first three lines to whatever you want, but DON'T USE THE @ SYMBOL as that will cause problems. Leave the fourth, fifth, and sixth lines alone, as well as the names of each environmental variable.

#### Part e
In the terminal, make sure you are in the "ds6001databases" folder (you can check by typing `pwd`. If not, then use `cd` to navigate to the "ds6001databases" folder). Then type
```
docker compose up
```
This command launches all of the databases. If successful, you will see a long stream of output with messages that begin `ds6001databases-postgres-1`, `ds6001databases-mysql-1`, and `ds6001databases-mongo-1`. If not, we will need to debug together, but the issue likely has to do with something preventing parts a, b, c, or d from being completed successfully.

#### Part f
To confirm that the databases are running on your system, open the "db_tests.ipynb" notebook file, which should be saved in you "ds6001databases" folder. Run everything in this notebook and make sure there are no errors.

#### Part g
In addition to the databases, we will be using dbdocs.io to create documentation for our databases and post them online with a stable URL. But to get dbdocs running, you first need to install NodeJS on your computer: https://nodejs.org/en

Then to install dbdocs, follow the instructions here: https://dbdocs.io/docs

#### Part h
Finally, create a notebook inside your "ds6001databases" folder for your work on this lab. Import the following libraries, and load the `.env` file where you store your passwords.

In [42]:
!pip install wget

Requirement already satisfied: wget in c:\users\leeka\miniconda3\lib\site-packages (3.2)

In [1]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
import mysql.connector
import psycopg
import pymongo
from sqlalchemy import create_engine


dotenv.load_dotenv()
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
MONGO_INITDB_ROOT_USERNAME = os.getenv('MONGO_INITDB_ROOT_USERNAME')
MONGO_INITDB_ROOT_PASSWORD = os.getenv('MONGO_INITDB_ROOT_PASSWORD')
mongo_init_db = os.getenv('mongo_init_db')
MYSQL_ROOT_PASSWORD = os.getenv('MYSQL_ROOT_PASSWORD')

### Problem 1 
**This problem requires you to create Markdown tables** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

Suppose that we have (fake) data on people who were hospitalized and received at least one prescription for a medication. Here are ten records in the data:

(If this table gets cut off in the PDF, please look at the .ipynb notebook file on the module 6 page on Canvas)

| patient_name       | date_of_birth | prescribed_drug | prior_conditions                     | patient_sex | patient_insurance      | drug_maker               | drug_cost | attending_physician | AP_medschool                      | AP_years_experience | hospital                       | hospital_location |
|--------------------|---------------|-----------------|--------------------------------------|-------------|------------------------|--------------------------|-----------|---------------------|-----------------------------------|--------------------|--------------------------------|-------------------|
| Nkemdilim Arendonk | 2/21/1962     | Amoxil          | [Pneumonia, Diabetes]                | M           | Aetna                  | USAntibiotics            | 14.62     | Earnest Caro        | University of California (Irvine) | 14                 | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Nkemdilim Arendonk | 2/21/1962     | Micronase       | [Pneumonia, Diabetes]                | M           | Aetna                  | Pfizer                   | 20.55     | Earnest Caro        | University of California (Irvine) | 14                 | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Raniero Coumans    | 8/15/1990     | Zosyn           | [Appendicitis, Crohn's disease]      | M           | Cigna                  | Baxter International Inc | 394.00    | Pamela English      | University of Michigan            | 29                 | Northwestern Memorial Hospital | Chicago, IL       |
| Raniero Coumans    | 8/15/1990     | Humira          | [Appendicitis, Crohn's disease]      | M           | Cigna                  | Abbvie                   | 7000.00   | Pamela English      | University of Michigan            | 29                 | Northwestern Memorial Hospital | Chicago, IL       |
| Mizuki Debenham    | 3/12/1977     | Inlyta          | [Kidney Cancer]                      | F           | Kaiser Permanente      | Pfizer                   | 21644.00  | Lewis Conti         | North Carolina State University   | 8                  | Houston Methodist Hospital     | Houston, TX       |
| Zoë De Witt        | 11/23/1947    | Atenolol        | [Cardiomyopathy, Diabetes, Sciatica] | F           | Medicare               | Mylan Pharmaceuticals    | 10.58     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Micronase       | [Cardiomyopathy, Diabetes, Sciatica] | F           | Medicare               | Pfizer                   | 20.55     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Demerol         | [Cardiomyopathy, Diabetes, Sciatica] | F           | Medicare               | Pfizer                   | 37.50     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Bonnie Hooper      | 7/4/1951      | Xeloda          | [Pancreatic Cancer, Sciatica]        | F           | Blue Cross Blue Shield | Genentech                | 860.00    | Steven Garbutt      | Ohio State University             | 36                 | UCSF Medical Center            | San Francisco, CA |
| Bonnie Hooper      | 7/4/1951      | Demerol         | [Pancreatic Cancer, Sciatica]        | F           | Blue Cross Blue Shield | Pfizer                   | 37.50     | Steven Garbutt      | Ohio State University             | 36                 | UCSF Medical Center            | San Francisco, CA |

The columns in this dataset are:

* **patient_name**: The patient's name
* **date_of_birth**: The patient's date of birth
* **prescribed_drug**: The brand name of the medication that patient has been prescribed
* **prior_conditions**: A list of the conditions that the patient had been diagnosed with prior to the patient's hospitalization
* **patient_sex**: The patient's sex
* **patient_insurance**: The company responsible for the patient's health insurance coverage
* **drug_maker**: The company that manufactures the prescribed drug
* **drug_cost**: The cost of the prescribed drug
* **attending_physician**: The name of the attending physician for the patient
* **AP_medschool**: The name of the school where the attending physician got a medical degree
* **AP_years_experience**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospital_location**: The location of the hospital

For this problem, assume that 

1. No two rows in this table share both the same patient and the same prescribed drug.
   
2. Some patients in the data share the same name, but no two patients in the data share the same name and date of birth.

3. No two different drugs share the same brand name.

4. No two attending physicians have the same name, and every attending physician is employed at only one hospital.

5. No two hospitals share the same name, and every hospital exists at only one location.
   
6. Each patient has only one attending physician. (In real-world applications we may want to design a database that allows for multiple hospitalizations for some patients, but here we'll keep it simpler by assuming each patient has one hospitalization with one attending physician.)

#### Part a 
Rearrange the data into a group of data tables that together meet the requirements of first normal form. [2 points]

Conditions Table:

| patient_name       | date_of_birth | prior_conditions                     |
|--------------------|---------------|--------------------------------------|
| Nkemdilim Arendonk | 2/21/1962     | Pneumonia                            |
| Nkemdilim Arendonk | 2/21/1962     | Diabetes                             |
| Raniero Coumans    | 8/15/1990     | Appendicitis                         |
| Raniero Coumans    | 8/15/1990     | Crohn's disease                      |
| Mizuki Debenham    | 3/12/1977     | Kidney Cancer                        |
| Zoë De Witt        | 11/23/1947    | Cardiomyopathy                       |
| Zoë De Witt        | 11/23/1947    | Diabetes                             |
| Zoë De Witt        | 11/23/1947    | Sciatica                             |
| Bonnie Hooper      | 7/4/1951      | Pancreatic Cancer                    |
| Bonnie Hooper      | 7/4/1951      | Sciatica                             |

1NF Table:

| patient_name       | date_of_birth | prescribed_drug | patient_sex | patient_insurance      | drug_maker               | drug_cost | attending_physician | AP_medschool                      | AP_years_experience | hospital                       | hospital_location |
|--------------------|---------------|-----------------|-------------|------------------------|--------------------------|-----------|---------------------|-----------------------------------|--------------------|--------------------------------|-------------------|
| Nkemdilim Arendonk | 2/21/1962     | Amoxil          | M           | Aetna                  | USAntibiotics            | 14.62     | Earnest Caro        | University of California (Irvine) | 14                 | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Nkemdilim Arendonk | 2/21/1962     | Micronase       | M           | Aetna                  | Pfizer                   | 20.55     | Earnest Caro        | University of California (Irvine) | 14                 | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Raniero Coumans    | 8/15/1990     | Zosyn           | M           | Cigna                  | Baxter International Inc | 394.00    | Pamela English      | University of Michigan            | 29                 | Northwestern Memorial Hospital | Chicago, IL       |
| Raniero Coumans    | 8/15/1990     | Humira          | M           | Cigna                  | Abbvie                   | 7000.00   | Pamela English      | University of Michigan            | 29                 | Northwestern Memorial Hospital | Chicago, IL       |
| Mizuki Debenham    | 3/12/1977     | Inlyta          | F           | Kaiser Permanente      | Pfizer                   | 21644.00  | Lewis Conti         | North Carolina State University   | 8                  | Houston Methodist Hospital     | Houston, TX       |
| Zoë De Witt        | 11/23/1947    | Atenolol        | F           | Medicare               | Mylan Pharmaceuticals    | 10.58     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Micronase       | F           | Medicare               | Pfizer                   | 20.55     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Demerol         | F           | Medicare               | Pfizer                   | 37.50     | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                 | Mount Sinai Hospital           | New York, NY      |
| Bonnie Hooper      | 7/4/1951      | Xeloda          | F           | Blue Cross Blue Shield | Genentech                | 860.00    | Steven Garbutt      | Ohio State University             | 36                 | UCSF Medical Center            | San Francisco, CA |
| Bonnie Hooper      | 7/4/1951      | Demerol         | F           | Blue Cross Blue Shield | Pfizer                   | 37.50     | Steven Garbutt      | Ohio State University             | 36                 | UCSF Medical Center            | San Francisco, CA |

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

Conditions Table:

| patient_name       | date_of_birth | prior_conditions                     |
|--------------------|---------------|--------------------------------------|
| Nkemdilim Arendonk | 2/21/1962     | Pneumonia                            |
| Nkemdilim Arendonk | 2/21/1962     | Diabetes                             |
| Raniero Coumans    | 8/15/1990     | Appendicitis                         |
| Raniero Coumans    | 8/15/1990     | Crohn's disease                      |
| Mizuki Debenham    | 3/12/1977     | Kidney Cancer                        |
| Zoë De Witt        | 11/23/1947    | Cardiomyopathy                       |
| Zoë De Witt        | 11/23/1947    | Diabetes                             |
| Zoë De Witt        | 11/23/1947    | Sciatica                             |
| Bonnie Hooper      | 7/4/1951      | Pancreatic Cancer                    |
| Bonnie Hooper      | 7/4/1951      | Sciatica                             |

Patient Table:

| patient_name       | date_of_birth | patient_sex | patient_insurance      | 
|--------------------|---------------|-------------|------------------------|
| Nkemdilim Arendonk | 2/21/1962     | M           | Aetna                  |
| Raniero Coumans    | 8/15/1990     | M           | Cigna                  |
| Mizuki Debenham    | 3/12/1977     | F           | Kaiser Permanente      |
| Zoë De Witt        | 11/23/1947    | F           | Medicare               |
| Bonnie Hooper      | 7/4/1951      | F           | Blue Cross Blue Shield |

Drugs Table:

| prescribed_drug | drug_maker               | drug_cost |
|-----------------|--------------------------|-----------|
| Amoxil          | USAntibiotics            | 14.62     |
| Micronase       | Pfizer                   | 20.55     |
| Zosyn           | Baxter International Inc | 394.00    |
| Humira          | Abbvie                   | 7000.00   |
| Inlyta          | Pfizer                   | 21644.00  |
| Atenolol        | Mylan Pharmaceuticals    | 10.58     |
| Demerol         | Pfizer                   | 37.50     |
| Xeloda          | Genentech                | 860.00    |

2NF Table:

| patient_name       | date_of_birth | prescribed_drug | attending_physician | AP_medschool                      | AP_years_experience | hospital                       | hospital_location |
|--------------------|---------------|-----------------|---------------------|-----------------------------------|---------------------|--------------------------------|-------------------|
| Nkemdilim Arendonk | 2/21/1962     | Amoxil          | Earnest Caro        | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Nkemdilim Arendonk | 2/21/1962     | Micronase       | Earnest Caro        | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Raniero Coumans    | 8/15/1990     | Zosyn           | Pamela English      | University of Michigan            | 29                  | Northwestern Memorial Hospital | Chicago, IL       |
| Raniero Coumans    | 8/15/1990     | Humira          | Pamela English      | University of Michigan            | 29                  | Northwestern Memorial Hospital | Chicago, IL       |
| Mizuki Debenham    | 3/12/1977     | Inlyta          | Lewis Conti         | North Carolina State University   | 8                   | Houston Methodist Hospital     | Houston, TX       |
| Zoë De Witt        | 11/23/1947    | Atenolol        | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Micronase       | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |
| Zoë De Witt        | 11/23/1947    | Demerol         | Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           | New York, NY      |
| Bonnie Hooper      | 7/4/1951      | Xeloda          | Steven Garbutt      | Ohio State University             | 36                  | UCSF Medical Center            | San Francisco, CA |
| Bonnie Hooper      | 7/4/1951      | Demerol         | Steven Garbutt      | Ohio State University             | 36                  | UCSF Medical Center            | San Francisco, CA |

#### Part c 
Rearrange the data into a group of data tables that together meet the requirements of third normal form. [2 points]

3NF Tables:

Primary Keys Table:

| patient_name       | date_of_birth | prescribed_drug | attending_physician |
|--------------------|---------------|-----------------|---------------------|
| Nkemdilim Arendonk | 2/21/1962     | Amoxil          | Earnest Caro        |
| Nkemdilim Arendonk | 2/21/1962     | Micronase       | Earnest Caro        |
| Raniero Coumans    | 8/15/1990     | Zosyn           | Pamela English      |
| Raniero Coumans    | 8/15/1990     | Humira          | Pamela English      |
| Mizuki Debenham    | 3/12/1977     | Inlyta          | Lewis Conti         |
| Zoë De Witt        | 11/23/1947    | Atenolol        | Theresa Dahlmans    |
| Zoë De Witt        | 11/23/1947    | Micronase       | Theresa Dahlmans    |
| Zoë De Witt        | 11/23/1947    | Demerol         | Theresa Dahlmans    |
| Bonnie Hooper      | 7/4/1951      | Xeloda          | Steven Garbutt      |
| Bonnie Hooper      | 7/4/1951      | Demerol         | Steven Garbutt      |

Patients Table:

| patient_name       | date_of_birth | patient_sex | patient_insurance      | 
|--------------------|---------------|-------------|------------------------|
| Nkemdilim Arendonk | 2/21/1962     | M           | Aetna                  |
| Raniero Coumans    | 8/15/1990     | M           | Cigna                  |
| Mizuki Debenham    | 3/12/1977     | F           | Kaiser Permanente      |
| Zoë De Witt        | 11/23/1947    | F           | Medicare               |
| Bonnie Hooper      | 7/4/1951      | F           | Blue Cross Blue Shield |

Conditions Table:

| patient_name       | date_of_birth | prior_conditions                     |
|--------------------|---------------|--------------------------------------|
| Nkemdilim Arendonk | 2/21/1962     | Pneumonia                            |
| Nkemdilim Arendonk | 2/21/1962     | Diabetes                             |
| Raniero Coumans    | 8/15/1990     | Appendicitis                         |
| Raniero Coumans    | 8/15/1990     | Crohn's disease                      |
| Mizuki Debenham    | 3/12/1977     | Kidney Cancer                        |
| Zoë De Witt        | 11/23/1947    | Cardiomyopathy                       |
| Zoë De Witt        | 11/23/1947    | Diabetes                             |
| Zoë De Witt        | 11/23/1947    | Sciatica                             |
| Bonnie Hooper      | 7/4/1951      | Pancreatic Cancer                    |
| Bonnie Hooper      | 7/4/1951      | Sciatica                             |

Drugs Table:

| prescribed_drug | drug_maker               | drug_cost |
|-----------------|--------------------------|-----------|
| Amoxil          | USAntibiotics            | 14.62     |
| Micronase       | Pfizer                   | 20.55     |
| Zosyn           | Baxter International Inc | 394.00    |
| Humira          | Abbvie                   | 7000.00   |
| Inlyta          | Pfizer                   | 21644.00  |
| Atenolol        | Mylan Pharmaceuticals    | 10.58     |
| Demerol         | Pfizer                   | 37.50     |
| Xeloda          | Genentech                | 860.00    |

Physicians Table:

| attending_physician | AP_medschool                      | AP_years_experience | hospital                       |
|---------------------|-----------------------------------|---------------------|--------------------------------|
| Earnest Caro        | University of California (Irvine) | 14                  | UPMC Presbyterian Shadyside    |
| Pamela English      | University of Michigan            | 29                  | Northwestern Memorial Hospital |
| Lewis Conti         | North Carolina State University   | 8                   | Houston Methodist Hospital     |
| Theresa Dahlmans    | Lake Erie College of Medicine     | 17                  | Mount Sinai Hospital           |
| Steven Garbutt      | Ohio State University             | 36                  | UCSF Medical Center            |

Hospitals Table:

| hospital                       | hospital_location |
|--------------------------------|-------------------|
| UPMC Presbyterian Shadyside    | Pittsburgh, PA    |
| Northwestern Memorial Hospital | Chicago, IL       |
| Houston Methodist Hospital     | Houston, TX       |
| Mount Sinai Hospital           | New York, NY      |
| UCSF Medical Center            | San Francisco, CA |

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using https://dbdocs.io/. Make sure you install DBDocs on your system by following these instructions: https://dbdocs.io/docs

#### Part a 
Write code using the [database markup language](https://dbml.dbdiagram.io/home/) (DBML) that represents all of the tables in this database and the connections between the tables. Paste your DBML code in a markdown cell in your notebook, contained within three backticks to begin and end the code snippet, as shown in the cell below. 

Two good resources to help you:

1. The example on the Getting Started page on dbdocs.io: https://dbdocs.io/docs
2. The full syntax guide for DBML: https://dbml.dbdiagram.io/docs/#project-definition

A few notes:
* Make sure to specify the data type for each column in each table. Use varchar for strings/text, int for integers, and float for numeric data with decimals.
* You will probably find it useful to alias each table with one or two letters, such as: Table PRESCRIPTIONS as PR. That will allow you to use PR to refer to the PRESCRIPTIONS table, for example, in the Reference statements to link tables together.
* Use the syntax [pk] after a column name and data type to designate the columns that are primary keys in each table.
* To draw the lines linking one table to another, use the Ref: syntax.
    * If many rows from the left table match to one row in the right table, use the "many to one" symbol >
    * If one row from the left table matches to many rows in the right table, use the "one to many" symbol <
    * If one row from the left table matches to one row in the right table, use the "one to one" symbol -
    * If many rows from the left table match to many rows in the right table, use the "many to many" symbol <>
      
[2 points]

In [44]:
primary_keys = pd.read_csv('primary_key.csv')
patients = pd.read_csv('patient.csv')
conditions = pd.read_csv('conditions.csv')
drugs = pd.read_csv('drugs.csv')
physicians = pd.read_csv('physician.csv')
hospitals = pd.read_csv('hospital.csv')

```
Make sure you get the .ipynb file for this lab from the module 6 page on Canvas

Then when you double-click this box, you'll see three backticks before and after this text. Leave those alone

Type your code here, between the backticks

Code:

Project MedicalRecords {
  database_type: 'PostgreSQL'
  Note: '''
    # Patient Records
    **Database created for patient records, July 2024**
  '''
}
Table primary_keys as PK {
  patient_name varchar [pk]
  date_of_birth varchar [pk]
  prescribed_drug varchar [pk]
  attending_physician varchar
  note: "table 'primary_keys' contains the primary keys"
}
Table patients as P {
  patient_name varchar [pk]
  date_of_birth varchar [pk]
  patient_sex varchar
  patient_insurance varchar
  note: "table 'patients' contains information about patients and their health insurance"
}
Table conditions as C {
  patient_name varchar [pk]
  date_of_birth varchar [pk]
  prior_conditions varchar [pk]
  note: "table 'conditions' contains information about existing conditions within patients"
}
Table drugs as D {
  prescribed_drug varchar [pk]
  drug_maker varchar
  drug_cost float
  note: "table 'drugs' contains information about the drug makers and their costs"
}
Table physicians as PH {
  attending_physician varchar [pk]
  AP_medschool varchar
  AP_years_experience int
  hospital varchar
  note: "table 'physicians' contains information about the physicians and their work experience"
}
Table hospitals as H {
  hospital varchar [pk]
  hospital_location varchar
  note: "table 'hospitals' contains information about the hospitals and their locations"
}

Ref: D.prescribed_drug < PK.prescribed_drug
Ref: PH.attending_physician < PK.attending_physician
Ref: P.patient_name < PK.patient_name
Ref: P.date_of_birth < PK.date_of_birth
Ref: C.patient_name - PK.patient_name
Ref: C.date_of_birth - PK.date_of_birth
Ref: PH.hospital - H.hospital 

```

### Part b
Use the instructions on DBDocs.io (https://dbdocs.io/docs) to create a website for your ER diagram. Type the URL for your website in a markdown cell here. [1 point]

My example is here: https://dbdocs.io/jkropko/Lab6?view=relationships

URL: https://dbdocs.io/kl2jmx/MedicalRecords

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL.

The following code of code will download the CSV files. Please run this as is:

In [4]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point here is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [2]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

In [3]:
# New database
new_db = sqlite3.connect('pitchfork_a.db')

# Dataframes
reviews.to_sql('reviews', new_db, if_exists = 'replace', index = False)
artists.to_sql('artists', new_db, if_exists = 'replace', index = False)
content.to_sql('content', new_db, if_exists = 'replace', index = False)
genres.to_sql('genres', new_db, if_exists = 'replace', index = False)
labels.to_sql('labels', new_db, if_exists = 'replace', index = False)
years.to_sql('years', new_db, if_exists = 'replace', index = False)

19108

In [10]:
# Method 1: .cursor()
cursor = new_db.cursor()
cursor.execute("SELECT title, artist, score FROM reviews WHERE score = 10")
results = cursor.fetchall()

# Showing results
colnames = [x[0] for x in cursor.description]
pd.DataFrame(results, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [11]:
# Method 2: pd.read_sql_query()
query = "SELECT title, artist, score FROM reviews WHERE score = 10"
results_df = pd.read_sql_query(query, new_db)

# Showing results
pd.DataFrame(results_df)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [12]:
# Commit changes and close database
new_db.commit()
new_db.close()

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [3 points]

In [10]:
!pip install mysql-connector

Collecting mysql-connector
  Using cached mysql_connector-2.2.9-cp312-cp312-win_amd64.whl
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [11]:
!pip install --upgrade mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\leeka\miniconda3\lib\site-packages (9.0.0)

In [12]:
import mysql.connector

In [35]:
# Environmental variables
dotenv.load_dotenv()
mysql_password = os.getenv('MYSQL_ROOT_PASSWORD')

# Connect to server
dbserver = mysql.connector.connect(user = 'root',
                                    password = mysql_password,
                                    host = 'localhost',
                                    auth_plugin='mysql_native_password')

In [36]:
# New Database
cursor = dbserver.cursor()

try:
    cursor.execute('CREATE DATABASE pitchfork_b')
except:
    cursor.execute('DROP DATABASE pitchfork_b')
    cursor.execute('CREATE DATABASE pitchfork_b')

In [37]:
# Connect to new database
new_db2 = mysql.connector.connect(user='root',
    password=mysql_password,
    host='localhost',
    database='pitchfork_b',
    auth_plugin='mysql_native_password'
)

In [38]:
# Dataframes
dbms = 'mysql'
connector = 'mysqlconnector'
user = 'root'
password = mysql_password
host = 'localhost'
database = 'pitchfork_b'
engine_string = f'{dbms}+{connector}://{user}:{password}@{host}/{database}?auth_plugin=mysql_native_password'
engine = create_engine(engine_string)

reviews.to_sql('reviews', engine, chunksize = 1000, if_exists = 'replace', index = False)
artists.to_sql('artists', engine, chunksize = 1000, if_exists = 'replace', index = False)
content.to_sql('content', engine, chunksize = 1000, if_exists = 'replace', index = False)
genres.to_sql('genres', engine, chunksize = 1000, if_exists = 'replace', index = False)
labels.to_sql('labels', engine, chunksize = 1000, if_exists = 'replace', index = False)
years.to_sql('years', engine, chunksize = 1000, if_exists = 'replace', index = False)

-20

In [39]:
# Method 1: .cursor()
cursor2 = new_db2.cursor()
cursor2.execute("SELECT title, artist, score FROM reviews WHERE score = 10")
results2 = cursor2.fetchall()

# Showing results
colnames = [x[0] for x in cursor2.description]
pd.DataFrame(results2, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [40]:
# Method 2: pd.read_sql_query()
query = "SELECT title, artist, score FROM reviews WHERE score = 10"
results_df2 = pd.read_sql_query(query, engine)

# Showing results
pd.DataFrame(results_df2)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [41]:
# Commit changes and close database
new_db2.commit()
new_db2.close()

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [3 points]

In [42]:
# Environmental variables
dotenv.load_dotenv()
postgres_password = os.getenv('POSTGRES_PASSWORD')

# Connect to server
dbserver = psycopg.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'localhost',
    port = '5432'
)

dbserver.autocommit = True

In [ ]:
# New database
cursor = dbserver.cursor()

try:
    cursor.execute('CREATE DATABASE pitchfork_c')
except:
    cursor.execute('DROP DATABASE pitchfork_c')
    cursor.execute('CREATE DATABASE pitchfork_c')

In [75]:
# Closing initial connection
 cursor.close()
 dbserver.close()

In [76]:
# Connect to new database
dbserver = psycopg.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'localhost',
    port = '5432',
    dbname = 'pitchfork_c'
)

dbserver.autocommit = True

In [77]:
# Dataframes
dbms = 'postgresql'
connector = 'psycopg'
user = 'postgres'
password = postgres_password
host = 'localhost'
port = '5432'
database = 'pitchfork_c'
engine_string = f'{dbms}+{connector}://{user}:{password}@{host}:{port}/{database}'
engine2 = create_engine(engine_string)

reviews.to_sql('reviews', engine2, chunksize = 1000, if_exists = 'replace', index = False)
artists.to_sql('artists', engine2, chunksize = 1000, if_exists = 'replace', index = False)
content.to_sql('content', engine2, chunksize = 1000, if_exists = 'replace', index = False)
genres.to_sql('genres', engine2, chunksize = 1000, if_exists = 'replace', index = False)
labels.to_sql('labels', engine2, chunksize = 1000, if_exists = 'replace', index = False)
years.to_sql('years', engine2, chunksize = 1000, if_exists = 'replace', index = False)

-20

In [78]:
# Method 1: .cursor()
cursor3 = dbserver.cursor()
cursor3.execute("SELECT title, artist, score FROM reviews WHERE score = 10")
results3 = cursor.fetchall()

# Showing results
colnames = [x[0] for x in cursor3.description]
pd.DataFrame(results3, columns=colnames)

('metal box', 'public image ltd', 10.0)
('blood on the tracks', 'bob dylan', 10.0)
('another green world', 'brian eno', 10.0)
('songs in the key of life', 'stevie wonder', 10.0)
('in concert', 'nina simone', 10.0)
("tonight's the night", 'neil young', 10.0)
('hounds of love', 'kate bush', 10.0)
('sign "o" the times', 'prince', 10.0)
('1999', 'prince', 10.0)
('purple rain', 'prince, the revolution', 10.0)
('dirty mind', 'prince', 10.0)
('off the wall', 'michael jackson', 10.0)
('"heroes"', 'david bowie', 10.0)
('low', 'david bowie', 10.0)
('a love supreme: the complete masters', 'john coltrane', 10.0)
("people's instinctive travels and the paths of rhythm", 'a tribe called quest', 10.0)
('astral weeks', 'van morrison', 10.0)
('loaded: re-loaded 45th anniversary edition', 'the velvet underground', 10.0)
('sticky fingers', 'the rolling stones', 10.0)
('it takes a nation of millions to hold us back', 'public enemy', 10.0)
('the velvet underground  45th anniversary super deluxe edition', 'the velvet underground', 10.0)
('spiderland', 'slint', 10.0)
('the infamous', 'mobb deep', 10.0)
('white light/white heat', 'the velvet underground', 10.0)
('in utero: 20th anniversary edition', 'nirvana', 10.0)
('rumours', 'fleetwood mac', 10.0)
('illmatic', 'nas', 10.0)
('donuts (45 box set)', 'j dilla', 10.0)
('voodoo', 'dangelo', 10.0)
('the disintegration loops', 'william basinski', 10.0)
('liquid swords: chess box deluxe edition', 'gza', 10.0)
("isn't anything", 'my bloody valentine', 10.0)
('tago mago [40th anniversary edition]', 'can', 10.0)
('the smile sessions', 'the beach boys', 10.0)
('laughing stock', 'talk talk', 10.0)
('nevermind [20th anniversary edition]', 'nirvana', 10.0)
('emergency & i [vinyl reissue]', 'the dismemberment plan', 10.0)
('my beautiful dark twisted fantasy', 'kanye west', 10.0)
('disintegration [deluxe edition]', 'the cure', 10.0)
('exile on main st. [deluxe edition]', 'the rolling stones', 10.0)
('quarantine the past', 'pavement', 10.0)
("ladies and gentlemen we are floating in space [collector's editon]", 'spiritualized', 10.0)
('the stone roses', 'the stone roses', 10.0)
('the beatles', 'the beatles', 10.0)
('abbey road', 'the beatles', 10.0)
('rubber soul', 'the beatles', 10.0)
('revolver', 'the beatles', 10.0)
("sgt. pepper's lonely hearts club band", 'the beatles', 10.0)
('magical mystery tour', 'the beatles', 10.0)
('stereo box', 'the beatles', 10.0)
('kid a: special collectors edition', 'radiohead', 10.0)
('reckoning [deluxe edition]', 'r.e.m.', 10.0)
('histoire de melody nelson', 'serge gainsbourg', 10.0)
("paul's boutique", 'beastie boys', 10.0)
('murmur [deluxe edition]', 'r.e.m.', 10.0)
("otis blue: otis redding sings soul [collector's edition]", 'otis redding', 10.0)
('unknown pleasures', 'joy division', 10.0)
('daydream nation: deluxe edition', 'sonic youth', 10.0)
('pink flag', 'wire', 10.0)
('born to run: 30th anniversary edition', 'bruce springsteen', 10.0)
('in the aeroplane over the sea', 'neutral milk hotel', 10.0)
('endtroducing... [deluxe edition]', 'dj shadow', 10.0)
("crooked rain, crooked rain: la's desert origins", 'pavement', 10.0)
('london calling: 25th anniversary legacy edition', 'the clash', 10.0)
('music has the right to children', 'boards of canada', 10.0)
('live at the apollo [expanded edition]', 'james brown', 10.0)
('no thanks!: the 70s punk rebellion', 'various artists', 10.0)
('marquee moon', 'television', 10.0)
('the ascension', 'glenn branca', 10.0)
("this year's model", 'elvis costello & the attractions', 10.0)
('yankee hotel foxtrot', 'wilco', 10.0)
('source tags and codes', '...and you will know us by the trail of dead', 10.0)
('the olatunji concert: the last live recording', 'john coltrane', 10.0)
('kid a', 'radiohead', 10.0)
('animals', 'pink floyd', 10.0)
('i see a darkness', 'bonnie prince billy', 10.0)

In [79]:
# Method 2: pd.read_sql_query()
query = "SELECT title, artist, score FROM reviews WHERE score = 10"
results_df3 = pd.read_sql_query(query, engine2)

# Showing results
pd.DataFrame(results_df3)

                                            title  \
0                                       metal box
1                             blood on the tracks
2                             another green world
3                        songs in the key of life
4                                      in concert
..                                            ...
71                          source tags and codes
72  the olatunji concert: the last live recording
73                                          kid a
74                                        animals
75                               i see a darkness

                                          artist  score
0                               public image ltd   10.0
1                                      bob dylan   10.0
2                                      brian eno   10.0
3                                  stevie wonder   10.0
4                                    nina simone   10.0
..                                           ...    ...
71  ...and you will know us by the trail of dead   10.0
72                                 john coltrane   10.0
73                                     radiohead   10.0
74                                    pink floyd   10.0
75                           bonnie prince billy   10.0

[76 rows x 3 columns]

In [80]:
# Commit changes and close database
dbserver.commit()
cursor.close()
dbserver.close()

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [86]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '477 BC',
 'text': 'Battle of the Cremera as part of the Roman-Etruscan Wars.  Veii ambushes and defeats the Roman army.',
 'html': '477 BC - 477 BC – <a href="https://wikipedia.org/wiki/Battle_of_the_Cremera" title="Battle of the Cremera">Battle of the Cremera</a> as part of the <a href="https://wikipedia.org/wiki/Roman%E2%80%93Etruscan_Wars#The_Fabian_war_with_Veii_in_483-476_BC" title="Roman-Etruscan Wars">Roman-Etruscan Wars</a>. <a href="https://wikipedia.org/wiki/Veii" title="Veii">Veii</a> ambushes and defeats the <a href="https://wikipedia.org/wiki/Roman_Republic" title="Roman Republic">Roman</a> army.',
 'no_year_html': '477 BC – <a href="https://wikipedia.org/wiki/Battle_of_the_Cremera" title="Battle of the Cremera">Battle of the Cremera</a> as part of the <a href="https://wikipedia.org/wiki/Roman%E2%80%93Etruscan_Wars#The_Fabian_war_with_Veii_in_483-476_BC" title="Roman-Etruscan Wars">Roman-Etruscan Wars</a>. <a href="https://wikipedia.org/wiki/Veii" title="Veii">Veii</a> ambushes and defeats the <a href="https://wikipedia.org/wiki/Roman_Republic" title="Roman Republic">Roman</a> army.',
 'links': [{'title': 'Battle of the Cremera',
   'link': 'https://wikipedia.org/wiki/Battle_of_the_Cremera'},
  {'title': 'Roman-Etruscan Wars',
   'link': 'https://wikipedia.org/wiki/Roman%E2%80%93Etruscan_Wars#The_Fabian_war_with_Veii_in_483-476_BC'},
  {'title': 'Veii', 'link': 'https://wikipedia.org/wiki/Veii'},
  {'title': 'Roman Republic',
   'link': 'https://wikipedia.org/wiki/Roman_Republic'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [3 points]

In [104]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']

In [105]:
# Environmental variables
mongo_username = os.getenv('MONGO_INITDB_ROOT_USERNAME')
mongo_password = os.getenv('MONGO_INITDB_ROOT_PASSWORD')
mongo_host = os.getenv('MONGO_HOST', 'localhost')
mongo_port = os.getenv('MONGO_PORT', '27017')

mongo_url = f"mongodb://{mongo_username}:{mongo_password}@{mongo_host}:{mongo_port}/"

In [90]:
# Connect to MongoDB
client = pymongo.MongoClient(mongo_url)
db = client["history"]
collection = db["today"]

In [106]:
# Insert events
collection.insert_many(events)

InsertManyResult([ObjectId('66986745b7b048445e50ab8b'), ObjectId('66986745b7b048445e50ab8c'), ObjectId('66986745b7b048445e50ab8d'), ObjectId('66986745b7b048445e50ab8e'), ObjectId('66986745b7b048445e50ab8f'), ObjectId('66986745b7b048445e50ab90'), ObjectId('66986745b7b048445e50ab91'), ObjectId('66986745b7b048445e50ab92'), ObjectId('66986745b7b048445e50ab93'), ObjectId('66986745b7b048445e50ab94'), ObjectId('66986745b7b048445e50ab95'), ObjectId('66986745b7b048445e50ab96'), ObjectId('66986745b7b048445e50ab97'), ObjectId('66986745b7b048445e50ab98'), ObjectId('66986745b7b048445e50ab99'), ObjectId('66986745b7b048445e50ab9a'), ObjectId('66986745b7b048445e50ab9b'), ObjectId('66986745b7b048445e50ab9c'), ObjectId('66986745b7b048445e50ab9d'), ObjectId('66986745b7b048445e50ab9e'), ObjectId('66986745b7b048445e50ab9f'), ObjectId('66986745b7b048445e50aba0'), ObjectId('66986745b7b048445e50aba1'), ObjectId('66986745b7b048445e50aba2'), ObjectId('66986745b7b048445e50aba3'), ObjectId('66986745b7b048445e50aba4'), ObjectId('66986745b7b048445e50aba5'), ObjectId('66986745b7b048445e50aba6'), ObjectId('66986745b7b048445e50aba7'), ObjectId('66986745b7b048445e50aba8'), ObjectId('66986745b7b048445e50aba9'), ObjectId('66986745b7b048445e50abaa'), ObjectId('66986745b7b048445e50abab'), ObjectId('66986745b7b048445e50abac'), ObjectId('66986745b7b048445e50abad'), ObjectId('66986745b7b048445e50abae'), ObjectId('66986745b7b048445e50abaf'), ObjectId('66986745b7b048445e50abb0'), ObjectId('66986745b7b048445e50abb1'), ObjectId('66986745b7b048445e50abb2'), ObjectId('66986745b7b048445e50abb3'), ObjectId('66986745b7b048445e50abb4'), ObjectId('66986745b7b048445e50abb5')], acknowledged=True)

In [120]:
# Find documents
query = {
    "text":{
        "$regex": 'Japan'
    }
}

results = list(collection.find(query))
print(len(results))

4

In [121]:
# Showing results
for result in results:
    print(results)

[{'_id': ObjectId('669864e9b7b048445e50ab77'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('669864e9b7b048445e50ab89'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}, {'_id': ObjectId('66986745b7b048445e50aba3'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('66986745b7b048445e50abb5'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}]
[{'_id': ObjectId('669864e9b7b048445e50ab77'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('669864e9b7b048445e50ab89'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}, {'_id': ObjectId('66986745b7b048445e50aba3'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('66986745b7b048445e50abb5'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}]
[{'_id': ObjectId('669864e9b7b048445e50ab77'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('669864e9b7b048445e50ab89'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}, {'_id': ObjectId('66986745b7b048445e50aba3'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('66986745b7b048445e50abb5'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}]
[{'_id': ObjectId('669864e9b7b048445e50ab77'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('669864e9b7b048445e50ab89'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}, {'_id': ObjectId('66986745b7b048445e50aba3'), 'year': '1944', 'text': 'World War II: Hideki Tōjō resigns as Prime Minister of Japan because of numerous setbacks in the war effort.', 'html': '1944 - World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'no_year_html': 'World War II: <a href="https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D" class="mw-redirect" title="Hideki Tōjō">Hideki Tōjō</a> resigns as <a href="https://wikipedia.org/wiki/Prime_Minister_of_Japan" title="Prime Minister of Japan">Prime Minister of Japan</a> because of numerous setbacks in the war effort.', 'links': [{'title': 'Hideki Tōjō', 'link': 'https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D'}, {'title': 'Prime Minister of Japan', 'link': 'https://wikipedia.org/wiki/Prime_Minister_of_Japan'}]}, {'_id': ObjectId('66986745b7b048445e50abb5'), 'year': '2019', 'text': 'A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.', 'html': '2019 - A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'no_year_html': 'A man <a href="https://wikipedia.org/wiki/Kyoto_Animation_arson_attack" title="Kyoto Animation arson attack">sets fire to an anime studio</a> in <a href="https://wikipedia.org/wiki/Fushimi-ku,_Kyoto" title="Fushimi-ku, Kyoto">Fushimi-ku, Kyoto</a>, <a href="https://wikipedia.org/wiki/Japan" title="Japan">Japan</a>, killing at least 35 people and injuring dozens of others.', 'links': [{'title': 'Kyoto Animation arson attack', 'link': 'https://wikipedia.org/wiki/Kyoto_Animation_arson_attack'}, {'title': 'Fushimi-ku, Kyoto', 'link': 'https://wikipedia.org/wiki/Fushimi-ku,_Kyoto'}, {'title': 'Japan', 'link': 'https://wikipedia.org/wiki/Japan'}]}]

In [123]:
# JSON formatted variable
for doc in results:
    doc['_id'] = str(doc['_id'])

json_output = json.dumps(results, indent = 4)
print(json_output)

[
    {
        "_id": "669864e9b7b048445e50ab77",
        "year": "1944",
        "text": "World War II: Hideki T\u014dj\u014d resigns as Prime Minister of Japan because of numerous setbacks in the war effort.",
        "html": "1944 - World War II: <a href=\"https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D\" class=\"mw-redirect\" title=\"Hideki T\u014dj\u014d\">Hideki T\u014dj\u014d</a> resigns as <a href=\"https://wikipedia.org/wiki/Prime_Minister_of_Japan\" title=\"Prime Minister of Japan\">Prime Minister of Japan</a> because of numerous setbacks in the war effort.",
        "no_year_html": "World War II: <a href=\"https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D\" class=\"mw-redirect\" title=\"Hideki T\u014dj\u014d\">Hideki T\u014dj\u014d</a> resigns as <a href=\"https://wikipedia.org/wiki/Prime_Minister_of_Japan\" title=\"Prime Minister of Japan\">Prime Minister of Japan</a> because of numerous setbacks in the war effort.",
        "links": [
            {
                "title": "Hideki T\u014dj\u014d",
                "link": "https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D"
            },
            {
                "title": "Prime Minister of Japan",
                "link": "https://wikipedia.org/wiki/Prime_Minister_of_Japan"
            }
        ]
    },
    {
        "_id": "669864e9b7b048445e50ab89",
        "year": "2019",
        "text": "A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.",
        "html": "2019 - A man <a href=\"https://wikipedia.org/wiki/Kyoto_Animation_arson_attack\" title=\"Kyoto Animation arson attack\">sets fire to an anime studio</a> in <a href=\"https://wikipedia.org/wiki/Fushimi-ku,_Kyoto\" title=\"Fushimi-ku, Kyoto\">Fushimi-ku, Kyoto</a>, <a href=\"https://wikipedia.org/wiki/Japan\" title=\"Japan\">Japan</a>, killing at least 35 people and injuring dozens of others.",
        "no_year_html": "A man <a href=\"https://wikipedia.org/wiki/Kyoto_Animation_arson_attack\" title=\"Kyoto Animation arson attack\">sets fire to an anime studio</a> in <a href=\"https://wikipedia.org/wiki/Fushimi-ku,_Kyoto\" title=\"Fushimi-ku, Kyoto\">Fushimi-ku, Kyoto</a>, <a href=\"https://wikipedia.org/wiki/Japan\" title=\"Japan\">Japan</a>, killing at least 35 people and injuring dozens of others.",
        "links": [
            {
                "title": "Kyoto Animation arson attack",
                "link": "https://wikipedia.org/wiki/Kyoto_Animation_arson_attack"
            },
            {
                "title": "Fushimi-ku, Kyoto",
                "link": "https://wikipedia.org/wiki/Fushimi-ku,_Kyoto"
            },
            {
                "title": "Japan",
                "link": "https://wikipedia.org/wiki/Japan"
            }
        ]
    },
    {
        "_id": "66986745b7b048445e50aba3",
        "year": "1944",
        "text": "World War II: Hideki T\u014dj\u014d resigns as Prime Minister of Japan because of numerous setbacks in the war effort.",
        "html": "1944 - World War II: <a href=\"https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D\" class=\"mw-redirect\" title=\"Hideki T\u014dj\u014d\">Hideki T\u014dj\u014d</a> resigns as <a href=\"https://wikipedia.org/wiki/Prime_Minister_of_Japan\" title=\"Prime Minister of Japan\">Prime Minister of Japan</a> because of numerous setbacks in the war effort.",
        "no_year_html": "World War II: <a href=\"https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D\" class=\"mw-redirect\" title=\"Hideki T\u014dj\u014d\">Hideki T\u014dj\u014d</a> resigns as <a href=\"https://wikipedia.org/wiki/Prime_Minister_of_Japan\" title=\"Prime Minister of Japan\">Prime Minister of Japan</a> because of numerous setbacks in the war effort.",
        "links": [
            {
                "title": "Hideki T\u014dj\u014d",
                "link": "https://wikipedia.org/wiki/Hideki_T%C5%8Dj%C5%8D"
            },
            {
                "title": "Prime Minister of Japan",
                "link": "https://wikipedia.org/wiki/Prime_Minister_of_Japan"
            }
        ]
    },
    {
        "_id": "66986745b7b048445e50abb5",
        "year": "2019",
        "text": "A man sets fire to an anime studio in Fushimi-ku, Kyoto, Japan, killing at least 35 people and injuring dozens of others.",
        "html": "2019 - A man <a href=\"https://wikipedia.org/wiki/Kyoto_Animation_arson_attack\" title=\"Kyoto Animation arson attack\">sets fire to an anime studio</a> in <a href=\"https://wikipedia.org/wiki/Fushimi-ku,_Kyoto\" title=\"Fushimi-ku, Kyoto\">Fushimi-ku, Kyoto</a>, <a href=\"https://wikipedia.org/wiki/Japan\" title=\"Japan\">Japan</a>, killing at least 35 people and injuring dozens of others.",
        "no_year_html": "A man <a href=\"https://wikipedia.org/wiki/Kyoto_Animation_arson_attack\" title=\"Kyoto Animation arson attack\">sets fire to an anime studio</a> in <a href=\"https://wikipedia.org/wiki/Fushimi-ku,_Kyoto\" title=\"Fushimi-ku, Kyoto\">Fushimi-ku, Kyoto</a>, <a href=\"https://wikipedia.org/wiki/Japan\" title=\"Japan\">Japan</a>, killing at least 35 people and injuring dozens of others.",
        "links": [
            {
                "title": "Kyoto Animation arson attack",
                "link": "https://wikipedia.org/wiki/Kyoto_Animation_arson_attack"
            },
            {
                "title": "Fushimi-ku, Kyoto",
                "link": "https://wikipedia.org/wiki/Fushimi-ku,_Kyoto"
            },
            {
                "title": "Japan",
                "link": "https://wikipedia.org/wiki/Japan"
            }
        ]
    }
]

## Problem 5 [No points, no need to write anything here, but do it anyway!]
When you are done working, go to the same terminal window you used to launch the databases with `docker compose up`. Here, type CONTROL + C on your keyboard to shut down the container.

Next type
```
docker compose down
```
This step removes extra database software, networks, volumes, etc. running on your computer. If you don't need them, don't clog your computer.

Whenever you need to work with databases, return to the terminal, navigate to this folder and type
```
docker compose up
```
to bring all these resources back online.